<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

    <appSettings>
        <!-- Service Bus specific app setings for messaging connections -->
        <add key="ConnectionString" value="Endpoint=sb://isalzhcdp2.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SECRET_KEY"/>
        <add key="FileQueueName" value="filequeue"/>
        <add key="ControlTopicName" value="controltopic"/>
        <add key="StatusTopicName" value="statustopic"/>
        <add key="StatusSubscriptionName" value="statussub1"/>
    </appSettings>
</configuration>
