<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="Trace_log"
                xsi:type="File"
                layout="${longdate}|${level}| ${message}"
                deleteOldFileOnStartup="False"
                concurrentWrites="true"
                KeepFileOpen ="False"
                fileName="${basedir}/Logs/trace.log">

            <layout xsi:type="JsonLayout" >
                <attribute name="logtime" layout="${longdate}" />
                <attribute name="logdata" encode="false" >
                    <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="99"/>
                </attribute>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="FileFormatter.Common.LogMaker" levels="Trace" writeTo="Trace_log" />
    </rules>
</nlog>